.assinatura{
    margin: 100px 200px;
    width: 585px;
    height: 462px;
    background-color: transparent;
}

.assinatura h2{
    font-weight: normal;
}

.assinatura strong{
    font-family: "Elsie Swash Caps", serif;
    font-size: 82px;
    font-weight: 900px;
}

.input{
    margin: 20px 0px;
}

.input button{
    height: 75px;
    width: 194px;
    left: 751px;
    top: 597px;
    border-radius: 0px;
    color: #fff;
    width: 100%;
    background-color: #ffcb47;
    padding: 27px;
    box-shadow: 10px 10px 30px 0px #ffcb474d;
    border: 0;
}

.input input{
    flex: 1;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    background-image: url('/public/images/icon-mail.svg');
    background-repeat: no-repeat;
    background-position: 16px center;
    outline-color: #ffcb47;
    box-shadow: 10px 10px 30px 0px #0000000f;
    border: 0;
}

